body {
    background-color: black;
    font-family: 'Nunito', sans-serif;
}
.nav-link {
    color: white !important;
}
.nav-link:hover {
    color: orange !important;
}
.nav-link:active {
    color: orange !important;
}
.b-heading{
    font-weight: bolder;
    font-size: 3rem;
}
.welcome-text {
    /* width: 72rem; */
    font-size: 1.7rem;
    line-height: 3rem;
}
.btn-1 {
    border: 2px solid rgb(246, 105, 54) !important;
    letter-spacing: 0.2rem !important;
    font-size: 0.8rem !important;
    font-weight: bold !important;
}
.btn-1:hover {
    background-color: rgb(246, 105, 54);
}

/* TRIBE */
.top {
    height: 35rem;
}
.tr-heading {
    font-size: 4rem;
}
.tribe-p, .we-p {
    font-size: 1.1rem;
}
.we-are {
    /* height: 24rem; */
}
.we-head {
    font-weight: bolder;
}
hr {
    border-top: 1px ridge rgb(246, 105, 54);
    width: 7rem;
}
.we-p {
    line-height: 2rem;
}
.history {
    /* height: 30rem; */
}
.h-body {
    line-height: 1.9rem;
    font-size: 1.2rem;
}
.s-heading {
    font-weight: bolder !important;
}
.num-head {
    color: #D99C79;
    font-size: 5rem;
    font-weight: 200;
    opacity: 0.6;
    position: relative;
    top: 3.5rem;
}
.spec-head {
    font-size: 2rem;
}
.spec-text {
    font-size: 1.2rem;
}